[2016-09-01 17:30] riemers opened #1 "Name of package in galaxy"
The name in galaxy is atosatto.docker-swarm, on your README it is a different value in your example playbook.

[2016-09-02 10:04] atosatto commented on #1
You are absolutely right!
Thank you for reporting this. It should be now fixed.

[2016-09-04 20:06] #1 closed

[2016-09-08 14:37] riemers opened #2 "dict object error?"
I tried to install this setup with only 1 node and 1 manager (since i didn't have my nr3 server) and now it fails on this:

[code]

Tried removing docker on the nodes and doing it again, but same issue. I have another group of 3 servers which ran the playbook just fine, except for this group. Is there anything i am overlooking? Some kind of fact cache that needs to clear or some settings on the se

[2016-09-08 14:42] atosatto commented on #2
Hi @riemers!

Could you please share the Ansible inventory you're using to provision the failing playbook?
There should be something strange happening with groups. ;)

Thank you!

[2016-09-08 14:48] riemers commented on #2
[production]
1627b
1626i
1629j

[docker_engine:children]
production

[docker_swarm_manager]
1627b

[docker_swarm_worker]
1626i
1629j

[2016-09-08 14:50] atosatto commented on #2
But here I see a 3 node cluster.
Is this one the failing example?

[2016-09-08 14:55] riemers commented on #2
yes, it was with 2 nodes. It failed, then i added the 3e node in later. Perhaps that might be the culprit.

[2016-09-08 14:57] atosatto commented on #2
Ok. Then, I'll run my tests with 1 master and 1 workers:  it smells like a bug! ;)

[2016-09-08 15:02] riemers commented on #2
Lets hope, normally i can read/fix errors too. But this one has me pulling my hair, could be just something stupid on my end. All my other setups worked just fine.

[2016-09-09 08:02] atosatto commented on #2
Hey @riemers, which version of the role are you using?

Using `v1.1.1` with the following inventory

[code]

and this playbook

[code]

The provisioning succeed

[code]

[2016-09-09 09:37] riemers commented on #2
The role that comes from galaxy is 1.1.0

[2016-09-09 09:52] atosatto commented on #2
Ops! Here it is the problem: version `v1.1.1` is not aligned with `master`!
Could you please try with the now released `v1.1.1` on galaxy?

Sorry for the issue. :(

[2016-09-09 10:25] riemers commented on #2
I changed it to 1.1.1 but weirdly i still have the same issue.

[2016-09-09 10:26] riemers commented on #2
woops, clicked the wrong button. But the issue was still there sadly.

[code]

Does this help anything? above output? I checked to see if all docker info do actually give back "Swarm:" and they do. Same for the token command, it does give something back.

[2016-09-09 10:38] atosatto commented on #2
Could you please confirm me that this is the inventory you're running your playbook against?

[code]

Because looking at your logs, it looks like that the problem could be related to my usage
of `run_once: true` in combination with `when: inventory_hostname == groups['docker_swarm_manager'][0]`.

[2016-09-09 10:47] riemers commented on #2
I can confirm, it is the same list. I removed the "run once" so it would run again as test. But still fails with same error. Output of the run once was:

[code]

[2016-09-09 10:49] atosatto commented on #2
Yes. The `run_one` is required to make the `docker_worker_token` variable accessible by all the hosts. I'll code a workaround for this and then ping you.

Thanks for helping me figuring out the root cause of this issue. 😄

[2016-09-09 10:53] riemers commented on #2
Just to confirm my above message, I removed the "run once" from you role so it would at least set the value. But still after that it fails. If you understand what is going wrong thats fine, but i don't have a clear picture in my head. I'll await your fix then 👍

[2016-09-09 14:07] atosatto commented on #2
Hey @riemers, I have commited a fix to the issue you reported in branch ìssue-2`.

Before actually merging this into `master` and making a new release, I would like, if possible, to make you test it. Thx! :)

[2016-09-09 15:18] riemers commented on #2
I took the code from your branch, was only that swarm yml file, then reran it. Below is the output:

[code]

[2016-09-09 16:23] atosatto commented on #2
It looks like an issue with the way the `docker_manager_address` variable is exported.
Could you please try again with the `swarm.yml` file in 55cac85?

[2016-09-09 19:14] riemers commented on #2
Not in my work environment anymore, i can check back Monday morning with you. Thanks for the support so far.

[2016-09-09 19:18] atosatto commented on #2
This time I'm quite confident it will work! ;) Anyway let's wait until
Monday morning!

Thank you for helping me to debug this issue.

--
Andrea Tosatto

On Sep 9, 2016 21:14, "Erik-jan Riemers" <notifications@github.com> wrote:

[2016-09-12 08:00] riemers commented on #2
That did the trick, it worked fine now! 👍

[2016-09-12 08:19] atosatto commented on #2
Very good! 🎉

I've just released `v1.2.0`including the fix to the issue you reported.
I think you now can safely update the reference to the role in the `requirements.yml` file and do a forced update.

Thank you!

[2016-09-12 08:19] #2 closed

[2016-09-15 05:37] rothgar opened #4 "Make linux-image-extra-virtual optional install"
Referencing this task https://github.com/atosatto/ansible-dockerswarm/blob/master/tasks/docker_engine.yml#L21-L25

The linux-image-extra-virtual package is only needed if you use AUFS storage driver and fails to install on some debian flavors. I'm running on raspberry pi and the package isn't available.

Just a suggestion to make the playbook more flexible.

[2016-09-15 08:56] atosatto commented on #4
This is a very good suggestions.
Actually, I never tested the playbook on ARM.
I'm definitively gonna make the `linux-image-extra-virtual`optional.
Thank you!

[2016-09-15 09:40] atosatto commented on #4
I just made possible to customize the `docker_dependencies`.

The following playbook should work on a Raspberry Pi
[code]

[2016-09-15 17:36] rothgar commented on #4
Thanks, I'll give it a try tonight.

It may also be nice to separate out the dependencies (installing docker) from setting up swarm. I have my own playbook for installing docker which duplicates steps

[2016-09-16 04:53] rothgar commented on #4
That worked for me.

[2016-09-16 04:53] #4 closed

[2016-09-26 02:04] kinghuang opened #5 "Split Docker Engine into a distinct role"
I'm wondering if you'd consider splitting off the Docker Engine tasks into its own role? I have some hosts that just need to be set up as engines, without swarm mode.

Your tasks for Docker Engine are nicely written with multi-OS support. It'd be useful if it existed as a distinct role that the docker-swarm role depended on rather than being bundled within the docker-swarm role.

[2016-09-26 09:56] atosatto commented on #5
This is a very good suggestion I also had from @rothgar on twitter.
I don't like very much the idea of splitting the role because I would like a "docker-engine-only" role to do lot more of what this role is currently doing (eg. customisation of the docker-engine configuration).
But I believe that you're right. So I'm gonna add to this role some switches to "install the docker-engine without swarm"

[2016-09-26 17:02] kinghuang commented on #5
Yes, some sort of switch to enable ot disable swarm mode would work, too. Thanks for considering this!

[2016-09-26 17:53] atosatto commented on #5
I've just released `v1.2.2` implementing you're suggestion.
You should now be able to disable `swarm-mode`with something like the following plugin

[code]

[2016-09-29 10:58] #5 closed

[2016-10-04 16:52] mklatsky opened #6 "Error when retrieving apt key on Ubuntu 14.04"
On Ubuntu 14.04 machines, when I run 'ansible-playbook playbook.yml', I receive the following error:

fatal: [xxx.yyy.zzz.aaa]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to validate the SSL certificate for sks-keyservers.net:443. Make sure your managed systems have a valid CA certificate installed. If the website serving the url uses SNI you need python >= 2.7.9 on your managed

[2016-10-04 16:54] atosatto commented on #6
Dear Michael,

thank you for reporting this issue.
I'll investigate it and provide a fix ASAP. :)

--
Andrea Tosatto

On Oct 4, 2016 6:52 PM, "Michael Klatsky" <notifications@github.com> wrote:

[2016-10-05 12:27] atosatto commented on #6
Hi @mklatsky.

I've started working on this issue on #7.
Right now the issue should be fixed. Before merging it into master I have to fix a small regression with Ubuntu 16.04.

Could you give it a try to give me some feedbacks?

[2016-10-05 15:13] mklatsky commented on #6
When I used the updated version, I was able to successfully created a docker swarm cluster without error. Thank you!

Let me know if there is additional information you require.

[2016-10-06 11:18] Mehonoshin commented on #6
Hello! I'm having the same issue

[2016-10-06 11:20] atosatto commented on #6
Hi @Mehonoshin.
I've currently working to fix this problem on PR #7.
Everything should now work on Ubuntu 14.04. but, before merging on master I would like to implement some checks to skip the "Install the Python SNI support packages" on Ubuntu 16.04.

[2016-10-06 11:26] Mehonoshin commented on #6
@atosatto great! Meanwhile I'll test your branch on my environment

[2016-10-06 11:26] atosatto commented on #6
@Mehonoshin awesome! :) Keep my posted with the result of your tests.

[2016-10-06 19:16] atosatto commented on #6
I've just updated the `f-issue6`branch to e50158f.
@mklatsky and/or @Mehonoshin could you please give it one more run to be sure that everything is still working?

Thank you :punch:

[2016-10-07 13:42] Mehonoshin commented on #6
@atosatto I've tested role on two Ubuntu trusty VMs inside vagrant. Everything looks good for me!

[2016-10-07 14:06] atosatto commented on #6
Thank you very much for your support.
I've now released version `1.3.0` containing this fix for Ubuntu 14.04.

[2016-10-07 14:06] #6 closed

[2016-10-25 16:52] aswadrangnekar opened #10 "Fails as the package module does not update cache "name: Install python-pip" task"
while running playbook, it fails at https://github.com/atosatto/ansible-dockerswarm/blob/master/tasks/main.yml#L9 as the cache was not updated.

[2016-10-25 17:00] aswadrangnekar commented on #10
@atosatto Please take a look at the quick-fix https://github.com/aswadrangnekar/ansible-dockerswarm/commit/36973198537720baeba3e33da4d11f8b322e475b.

Thanks for this repo!

[2016-12-12 21:32] djalexd opened #15 "Unable to provision with Vagrant+ansible"
Trying to produce a working Vagrant setup, but it consistently fails on:
`./roles/atosatto.docker-swarm/tasks/swarm_cluster.yml#37`
with message:
`the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: 'dict object' has no attribute 'docker_manager_address`

I'm not an Ansible expert, but I think the `set_fact` task called `Distribute the fact

[2016-12-27 17:06] atosatto commented on #15
Hi @djalexd. I addressed all your question here:
https://github.com/djalexd/ansible-dockerswarm-vagrant-runtime/pull/1

I hope this will help you to build your testing environment and play with Swarm.

[2016-12-27 17:06] #15 closed

[2016-12-28 10:47] atosatto commented on #10
Closing it since PR #11 has been merged!

[2016-12-28 10:47] #10 closed

[2017-01-02 08:50] atosatto opened #19 "Allow to skip docker_py installation"
- Add a `skip_dockerpy` flag
- Install `python-pip` only if it's really needed

[2017-01-03 12:12] atosatto commented on #19
Fixed in 38739a046861e1a83458a8f9150b209a1f119a35

[2017-01-03 12:12] #19 closed

[2017-06-20 22:51] oppianmatt opened #26 "update galaxy"
Version in ansible galaxy is missing the swarm_labels stuff. Mind updating it please?

[2017-06-23 06:34] oppianmatt opened #27 "idempotent swarm_labels"
When using this and reapplying, even if the labels haven't changed they get removed and readded. Meaning any docker instances targeted with the labels get removed and readded for a loss of service.

A small change would make them idempotent. This code here it will remove labels no longer in the list, and add any that aren't already set.

[code]

[2017-06-26 12:32] atosatto commented on #26
Ehi @oppianmatt, yes I know that it's not (yet) on galaxy.
As a temporary workaround you might want to add

[code]

to your `requirements.yml` file.

I will do a new tagged release as soon as I will fix the CI.
I'm currently working on switching to Molecule v2.

[2017-06-26 12:33] atosatto commented on #27
Ehi @oppianmatt, can you please submit a PR with your proposed changes.
I also noticed this behavior and I would love testing your fix. :)

[2017-07-12 16:45] hoodox opened #29 "docker overlay network"
Hi its not really an issue here but are there any plans to have docker overlay network?

At the moment I noticed you have network bridging in the code.

It would be good to have an option to either choose bridging or overlay.

Thanks
Chung

[2017-07-12 19:31] SergK commented on #29
Hi @hoodox this patch https://github.com/atosatto/ansible-dockerswarm/pull/23 should be merged and you can provide custom parameters to docker, overlay network as well

[2017-07-12 19:34] SergK commented on #29
ah your are talking about network driver, i was just thinking about storage driver...

[2017-07-13 12:34] hoodox commented on #29
I was thinking of the network driver.
Snippet from your swarm_cluster.yml:- if we add the highlighted bit below we can have a  network_driver_type where this can either be **bridge** or **overlay** or **someOther3rdParty**

-- name: Create a custom swarm network
  docker_network:
    name: docker_gwbridge
    **driver: "{{ network_driver_type }}"**
    driver_options:
      com.docker.network.brid

[2017-07-28 03:36] timmyers opened #30 "How to bind daemon to TCP port for remote access."
Hi, I am trying to figure out how to have this role configure the docker daemon to bind a to a TCP port for remote access.

I think that maybe once https://github.com/atosatto/ansible-dockerswarm/pull/23 has been merged in, that will allow for the functionality?

Please let me know!  I'm happy to help add documentation or contribute any other way I can.

[2017-09-21 10:12] gitirabassi opened #31 "broken docker-ce dependency"
This role installs the latest 'docker' packages (17.05), but starting from 17.06 they shift to 'docker-ce' and now the role is still installing 17.05.

I tried to fix it myself and making a PR but I'm not able right now

[2017-09-21 10:57] mdacrema opened #32 "SSH daemon killed when using root user as ansible user"
If you use root as user for ansible then it will be killed in tasks/docker_group.yml as results of: pkill -u root sshd

Simple workaround is to add " && service sshd restart" to shell command

[2017-09-26 04:05] val-litvak commented on #32
I ran into this issue as well, I ended up just running it as a non-root user instead. @mdacrema your description helped me work-around the issue, thanks!

[2017-09-26 14:07] atosatto commented on #32
@mdacrema can you submit a PR with the fix? ;)

[2017-09-27 21:27] oppianmatt commented on #27
PR created
have been using this in production for a while as it was annoying adding labels and watching the cluster all go down

next going to see if I can make the labels be the same as the ansible groups for consistency

[2017-10-29 20:29] drymonsoon commented on #32
PR added #34

[2017-11-04 23:08] ricalenil opened #35 "Adding Group Names as Swarm_Labels"
Maybe this could be helpful for someone.

Add this at the top of swarm_cluster.yml to set group_names as swarm labels for each swarm_node.

[code]

[2017-11-07 22:45] Vad1mo opened #36 "Is this repository still maintained?"
Is this repository still maintained? The current state of the repos isn't working, there are a few important PRs open?

[2017-11-08 06:10] #27 closed

[2017-11-08 06:12] atosatto commented on #36
Yes it is. What's not working for you? We do have tags for stable releases.

[2017-11-08 06:13] atosatto commented on #32
Thanks!

[2017-11-08 06:13] #32 closed

[2017-11-08 06:17] atosatto commented on #36
I have merged some of the open PR. They were still pending because of broken CI in most of them. Will try to fix it and release a new stable tag.

[2017-11-08 06:17] atosatto commented on #35
Thanks! This should now have been merged in master

[2017-11-08 06:17] #35 closed

[2017-11-08 06:40] atosatto commented on #36
And please let me know if there is any other outstanding bug out there preventing this role to be working for you.

[2017-11-08 06:40] #36 closed

[2017-11-08 07:42] Vad1mo opened #37 "Option to choose Docker Version"
As an user of docker swarm in a productive environment I want to be able to select that Docker Version that should be installed. Right now only 17.05 is installed which is not maintained by Docker anymore.

[2017-11-08 07:55] Vad1mo opened #39 "Playbook is not running - ERROR! Cannot reset connection"
I have difficulties applying the latest playbook from latest master. I always get a `ERROR! Cannot reset connection` error message. I am not able to figure out what exactly is wrong with it.

First there are this warning messages, which are not directly related to the problem I think.

[code]

[2017-11-08 08:16] atosatto commented on #39
Is this still the case with the latest master release?

[2017-11-08 08:18] atosatto commented on #37
This is related to #31.
You're right, we need to make the installation procedure much more flexible.

[2017-11-08 09:21] Vad1mo commented on #39
Yes its on that latest master, I force installed the latest master this morning .

[code]

[2017-11-08 23:17] Vad1mo commented on #39
I dug bit into the topic and it is related to the PR #34

if I uncommend
[code]

it runs

[2017-11-11 14:45] dsander commented on #39
This seems to be an issue in ansible: https://github.com/ansible/ansible/issues/27520

[2017-11-11 14:52] atosatto commented on #39
Give me the weekend to troubleshoot it. I am sure we can find a workaround
@Vad1mo what version of Ansible are you using?

[2017-11-15 07:50] atosatto commented on #26
Will do it as soon as we get a stable master. Currently we're working on a better way to handle ssh reconnection and on an improved test suite

[2017-11-15 23:17] Vad1mo commented on #39
I am on the latest ansible 2.4.1.
Right now I just disabled the feature.

[2017-12-05 15:32] pkelleratwork commented on #39
is there any new info on this issue? thx.

[2017-12-13 19:43] stnguyen90 opened #41 "Error Running "Install the Python SNI python-pip dependencies""
On Ubuntu 14.04.5 LTS, I got the error below when running task "Install the Python SNI python-pip dependencies."
[code]

[2017-12-16 11:47] atosatto commented on #41
Hi @stnguyen90!
What version of Ansible are you running? What version of Python is running on your host?
Can you share the content of the `/home/vagrant/.pip/pip.log` file?

[2017-12-19 00:27] stnguyen90 commented on #41
I don't have it at the moment, but I think upgrading setuptools should fix the problem.

[2018-01-09 15:20] lnovara opened #42 "Test suite failure with Ubuntu 16.04: unable to start service docker"
While trying to run the test suite under Ubuntu 16.04 I receive the above error executing the task that should enable and start the Docker daemon.

Diving in the container created by molecule I found out that the Docker daemon doesn't start because it tries to use the `devicemapper` backend while no loopback device is available. Starting the Docker daemon in the container with the `vfs`  backend f

[2018-06-08 08:58] cgrigor opened #43 "list, add and remove of labels does not work with ec2 instances"
Hi,

When deploying to ec2-instances the {{ ansible_hostname }} that is returned by Ansible is a shortened version, which makes the following tasks fail.

- name: Get list of labels
...
- name: Remove labels from swarm node
...
- name: Asign labels to swarm nodes | if any
...

Example:
returned value by ansible in var {{ ansible_hostname }} = ip-10-210-154-89

value required by swarm
ip-10-210-154

[2018-08-26 02:25] marcos1990 commented on #26
really useful ansible role. would love if we got the labels portion also.
+1

[2018-09-02 12:42] Bessonov commented on #30
@timmyers AFAIK it's not trivial if you want to do that in secure way. I've created a [docker-remote-api](https://github.com/Bessonov/ansible-role-docker-remote-api) role for this tasks. Basically, it generates ca, client and server certificates on local machine, create an remote api image with ca and deploy that image on docker host with ansible. Then you can connect to the docker manager with ca

[2018-09-28 14:02] dmnt3d opened #44 "ERROR! the role 'ansible-dockerswarm' was not found"
First off - i'm new to ansible. I've tried running ansible-playbook that set-up K8's and was able to make it work just fine.
I wanted to try SWARM and saw this playbook.

When I try to run the playbook:
ansible-playbook -i inventory playbook.yml
I'm getting the following error:

Inventory file:

Ansible version: 2.6.4

Not sure how to use the roles (?). ive downloaded the role from Ansible galaxy.

[2018-11-06 19:21] benyanke opened #46 "Fails on Module Add w/ Bionic"
Receives the following errors when creating a swarm on a clean Ubuntu 18.04 server
[code]

[2018-11-06 19:36] benyanke opened #47 "Deprecation warnings with pip loops"
![image](https://user-images.githubusercontent.com/4274911/48088950-e666b680-e1c8-11e8-9bd8-0d20f057eb0a.png)

[2018-11-06 19:49] benyanke opened #48 "Deprecation warning with version comparison"
[code]

[2018-11-06 21:38] benyanke opened #49 "Better Handling of First Master Replacement"
Given the list of hosts below, if mgr1 dies, or is removed from the swarm, the current behavior is the creation of a new swarm, despite a swarm quorum still existing with three workers and a quorum of two managers.

However, if mgr2 dies and is replaced with a fresh node, it is properly added to the existing cluster of manager1 and manager3, as expected.

Ideally, the tool should check to see if t

[2018-11-06 21:42] benyanke commented on #44
You need to do two things:

1) Run `ansible-galaxy install atosatto.docker-swarm` if you haven't.
2) Switch role to: `atosatto.docker-swarm` instead of `docker-swarm`.

[2018-11-06 22:01] benyanke opened #50 "Add Option to Set Managers to Drain"
It would be awesome to have an option to set managers as drained, which many admins use to stop any containers from running on their managers, reducing the risk of their masters experiencing issues.

`docker node update --availability drain [node name]`

Would be awesome to add a variable like `manager_availability` which can have this role set managers to draining or available.

[2019-03-12 21:33] berlinguyinca commented on #46
same issue here. Looks like the project is not really maintained anymore

[2019-06-03 14:28] #31 closed

[2019-09-13 15:53] killua99 opened #51 "[feature] Add Support for Arch Linux"
Hi,

I've been doing some work and I'm wondering if would be possible to add support for arch linux. I know it could add more layers to maintain but could be useful for many out there too.

[2019-11-10 10:04] atosatto commented on #37
Now that #40 has been finally merged, this should be covered by the `docker_package_version` variable.
Thanks for suggesting this enhancement!

[2019-11-10 10:04] #37 closed

[2019-11-19 10:04] cpxPratik opened #55 "Ansible 2.9.x throws error "template error while templating string: no filter named 'version_compare'.""
The `version_compare` filter was removed in  v2.9 after being deprecated in version 2.5.
Please update the role as specified here, https://github.com/atosatto/ansible-dockerswarm/issues/48

Quick solution,
[code]

[2019-11-19 20:23] mikeydiamonds opened #57 "Unable to find any of pip3 to use"
after further testing I see there's reasons python-pip was used instead of python3-pip used but I still get this error on Ubuntu 18.04, ansible version 2.8.5
TASK [swarm : Install docker-py.] ***************
fatal: [192.168.0.11]: FAILED! => {"changed": false, "msg": "Unable to find any of pip3 to use. pip needs to be installed."}

[2019-11-19 22:07] mikeydiamonds commented on #57
I was trying to use ansible's docker_swarm_service and figured it out. docker-py Python module has been superseded by docker.

[2019-11-19 22:07] #57 closed

[2019-12-02 21:03] juanluisbaptiste commented on #26
Hi,

Is the role in galaxy updated with the latest release here ?

Thanks.

[2019-12-02 21:21] juanluisbaptiste commented on #46
Still happens with disco. How to change the repository? this role is using an old one that is not used anymore, the correct one is:

https://download.docker.com/linux/ubuntu

According to [official install instructions](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-docker-engine---community-1).

I cannot find anywhere the definition of the repository url, the string "dockerprojec

[2019-12-03 02:27] juanluisbaptiste commented on #46
This only happens with the version on ansible galaxy as also mentioned on #43, the code on git works.

It would be nice to have an updated ansible galaxy package.

[2019-12-05 17:53] #55 closed

[2019-12-05 18:19] atosatto commented on #48
Hi @benyanke! This has been finally fixed in #58.

[2019-12-05 18:19] #48 closed

[2019-12-11 02:39] juanluisbaptiste opened #60 "How to use swarm labels with dynamic inventory"
Hi,

I'm using ansible dynamic inventories with AWS. As the ec2.py inventory script creates a group for example for the labels added to an ec2 instance, how can I add swarm labels to that dynamic group ? it seems there is no way to target a host directy when using dynamic inventory.

[2019-12-13 10:14] #42 closed

[2019-12-17 06:49] L1ghtman2k commented on #60
Not sure how exactly you are looking to do it, but I just added to host variables.

Here is an example of how you can do it https://pastebin.com/63QEcnwD

[2019-12-17 16:15] juanluisbaptiste commented on #60
Actually it was very easy and you don't need to code any extra stuff, just map the dynmic groups to static groups as described here:

https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html#static-groups-of-dynamic-groups

[2019-12-17 16:15] #60 closed

[2019-12-19 05:46] evgeniy-pupkov opened #61 "Fails on labels setup if hostname=fqdn"
Role fails on "Get list of labels" task if target hosts hostname is FQDN with 'no such object ' error

[2020-01-20 20:29] fabianochagas opened #62 "Fails on module Install python-pip"
Hi, I'm having this error while running my playbook:
TASK [atosatto.docker-swarm : Install python-pip.] ***********************************************************************************************************************************************************
task path: /Users/dev01/.ansible/roles/atosatto.docker-swarm/tasks/main.yml:15
fatal: [worker01]: FAILED! => {
    "msg": "The conditional c

[2020-01-22 21:49] atosatto commented on #62
Ehi @fabianochagas, I am afraid your issue might be due to the fact that the 1.x version of the role is using the `version_compare`, that has been deprecated in Ansible 2.9.

Is there any change for you to try with master?
Your issue should have been fixed by https://github.com/atosatto/ansible-dockerswarm/commit/b88591d7e69c562d4e8fba75b35bb7f815f94980.

[2020-01-25 09:58] fititnt commented on #62
@atosatto same error here with lastest release (`atosatto.docker-swarm (v1.3.2)` and using ansible 2.9.2.

Give me some moment and I will test against the lastest release a fresh install, so you can have some feedback

[2020-01-30 17:29] fititnt commented on #62
@atosatto I can confirm that master solve this issue. I was using `ansible 2.9.2`.

[2020-02-01 09:06] atosatto commented on #61
Hi @evgeniy-pupkov, can you please share an example of your role configuration?
We're working on a 2.0 release of the role and we would like to make sure that this issue is addressed.

[2020-02-04 09:34] atosatto commented on #62
@fabianochagas and @fititnt, I've just released `v2.0.0` of the role which should fix the issue you reported. Please feel free to reopen this ticket in case you this is still not working for you.

[2020-02-04 09:34] #62 closed

[2020-02-04 09:35] atosatto commented on #47
Ehi @benyanke, it took long but v2.0.0 is now fixing all these deprecation warnings adding full support to Ansible >= 2.7.0

[2020-02-04 09:35] #47 closed

[2020-02-04 09:36] atosatto commented on #46
I've just updated the role on Galaxy tagging a v2.0.0 fixing a bunch of issues that were outstanding since years.

[2020-02-04 09:36] #46 closed

[2020-02-04 09:37] atosatto commented on #26
Yes, ansible-galaxy has now v2.0.0 of the role.

[2020-02-04 09:37] #26 closed

[2020-02-04 09:40] atosatto commented on #30
@timmyers, v2.0.0 implements support to both custom daemon configurations to be added to the docker.json file and/or override to the default systemd unit for containerd and docker.

[2020-02-04 09:40] #30 closed

[2020-02-04 09:41] atosatto commented on #39
I believe this has been fixed with `v2.0.0`.
In case you find this issue still affecting your setup, feel free to re-open it!

[2020-02-04 09:41] #39 closed

[2020-02-04 09:42] atosatto commented on #41
I this this is fixed by `v2.0.0`. In case this issue is still relevant in your setup, feel free to reopen this issue.

[2020-02-04 09:42] #41 closed

[2020-02-04 09:43] #44 closed

[2020-03-09 17:39] mightydok commented on #61
If docker info show Name: FQDN, this role will fail.
Because in setup-swarm-labels you use ansible_hostname, not ansible_fqdn

[2020-03-12 18:51] atosatto commented on #61
Ehi @mightydok are you suggesting we should replace `ansible_hostname` with `ansible_fqdn` in `tasks/setup-swarm-labels.yaml`?

[2020-03-15 10:55] wombathuffer commented on #61
I'm stuck on same task. Havent figured yet how to work around it though..
`TASK [atosatto.docker-swarm : Get list of labels.] ***************************************************************************
task path: /repos/yi-ansible/roles/atosatto.docker-swarm/tasks/setup-swarm-labels.yml:3
fatal: [asus.yi -> None]: FAILED! => {"changed": false, "cmd": ["docker", "inspect", "--format", "{{ range $ke

[2020-03-15 23:37] wombathuffer commented on #61
The solution for me, was to replace `{{ ansible_hostname }}` with `{{ ansible_fqdn|lower }}` in `tasks/setup-swarm-labels.yaml`:
[code]

[2020-03-26 11:59] fmotrifork opened #70 "Update docker-py to docker"
The pip package `docker-py` has been renamed to `docker`
See this page for more info https://github.com/docker/docker-py/issues/1310

This will allow for using the docker_config_module.
https://docs.ansible.com/ansible/latest/modules/docker_config_module.html

Please note that it is not allowed to have both `docker-py` and `docker` installed at the same time.

[2020-04-03 12:01] fabianochagas opened #71 "failing on "gpg' install - ubuntu 16 node"
Hi there!
The role installs the _gpg_ module on debian-like machines, but it seems that for the ubuntu 16 it is the _gnupg_ .

TASK [atosatto.docker-swarm : Install apt-transport-https and gpg if necessary.] ***********************
fatal: [worker01]: FAILED! => {"changed": false, "msg": "No package matching 'gpg' is available"}

![image](https://user-images.githubusercontent.com/15588061/78358456-

[2020-04-15 09:54] atosatto commented on #71
Hi @fabianochagas do you have the `gnupg` package already installed on your boxes?
I am thinking that the only solution would be probably either to duplicate this task or to avoid installing gpg.

[2020-04-15 11:07] #70 closed

[2020-04-15 11:08] atosatto commented on #70
Thanks @fmotrifork for the heads-up, I've not fixed this in https://github.com/atosatto/ansible-dockerswarm/pull/72.

[2020-04-15 11:40] #71 closed

[2020-04-15 11:42] atosatto commented on #71
I might have found a workaround in #73 that will be part of a `v2.2.0` release that I will be tagging as soon as the tests against master are green.
Thanks for reporting this issue!

[2020-04-15 16:35] fabianochagas commented on #71
Thanks a lot!

[2020-05-05 13:25] till opened #74 "Configuration (and plugins)"
I found a bit of a race-condition when I configure docker on first-run.

But let me explain this a bit:

 - in order to `docker plugin install foo/bar` docker needs to be running
 - when i supply config to docker (for `daemon.json`) and the plugin is not installed, it will not start when the role _completes_

What I think needs to happen:

 1. Install docker
 2. force-start it immediately (`flush_

[2020-05-07 17:08] Koma-Andrea commented on #61
I can confirm that {{ ansible_fqdn|lower }} is the right solution.
I'll build a PR

[2020-05-07 17:10] atosatto commented on #61
Thanks Andrea!
I will review thar immediately so that we can finally close this
longstanding issue.

On Thu, 7 May 2020, 19:08 Andrea Cervesato, <notifications@github.com>
wrote:

[2020-05-07 18:34] Koma-Andrea commented on #61
Pull request #75 .
BTW Good  Role! I appreciate it!

[2020-05-08 10:26] atosatto commented on #61
Fixed in #75. Thanks @Koma-Andrea! :)

[2020-05-08 10:26] #61 closed

[2020-05-08 12:48] atosatto commented on #61
I've just released [v2.3.0](https://github.com/atosatto/ansible-dockerswarm/releases/tag/v2.3.0) which is including a fix to this issue. Thanks everyone for investigating and helping fixing it :)

[2020-05-13 19:39] wombathuffer opened #77 "Enable support for Raspberry Pi"
Thanks for refactoring the code - your doing a great job here!

I'm using your role on a pi3, so I have a few modifications, I would ask you to add?

1. Could you please add `armv7l: "arm64"` to `docker_architechture` in `vars/main.yml` ?

2. Could you add the following to the bottom of tasks/setup-docker-compose.yml ?
[code]
This enables docker compose to be installed via pip on my type device. :

[2020-05-14 14:09] cpxPratik opened #78 "Getting fatal error on `Get list of labels.` task"
The task `Get list of labels.` is failing after updated with `ansible_fqdn` on https://github.com/atosatto/ansible-dockerswarm/commit/3bb8a49297448325b8feaa9b7a899c78b2fab97e

The node hostname(`staging-manager-03`) on `docker node ls` is different from the fqdn string given on following error:

[code]

For now I am using v2.2.0 which gives no error.

[2020-05-15 21:01] wombathuffer commented on #78
I have the same issue except for 'ambigious' instead of not found.
`TASK [atosatto.docker-swarm : Get list of labels.] *******************************************************************************************************************************************
fatal: [asus.yi -> None]: FAILED! => {"changed": false, "cmd": ["docker", "inspect", "--format", "{{ range $key, $value := .Spec.Labels }}{{

[2020-05-18 07:48] atosatto commented on #78
Thanks @cpxPratik for reporting this issue.
I'll try to reproduce this issue in a test cluster and figure our a better way of managing nodes.

Can you please confirm me the docker version you are using?

[2020-05-18 07:49] atosatto commented on #77
Ehi @wombathuffer I would be more than happy to accept a PR if you don't mind contributing it :)

[2020-05-18 08:47] cpxPratik commented on #78
@atosatto The docker version is `Docker version 19.03.8, build afacb8b7f0`

[2020-05-22 13:29] yukiisbored commented on #78
Hello, I'm having the same issue on a cluster. It seems the node object is using hostname instead of the full FQDN.

It seems the this is the root-cause: https://github.com/atosatto/ansible-dockerswarm/commit/3bb8a49297448325b8feaa9b7a899c78b2fab97e

Though, I don't see any references in the playbook that it joins by FQDN, is this a new change on upstream docker?

[2020-05-22 13:32] yukiisbored commented on #78
btw, I'm currently running version 19.03.8

[2020-05-22 13:38] yukiisbored commented on #78
What I did to workaround this is simply use v2.2.0 instead of v2.3.0.

requirements.yml:
[code]

[2020-05-23 11:34] FleischKarussel commented on #78
Same issue here, using 19.03.6 (latest Ubuntu 18.04 provided docker.io package)

[2020-05-23 18:32] Bogdan1001 commented on #78
I have same issue too. Ubuntu 18.04.

[2020-05-23 21:07] wombathuffer commented on #77
I have tried, but either I'm too stupid to do a pull request on your repo, or I lack access.. I'm not that good at gitting...

[code]

[2020-05-24 13:51] till commented on #78
@atosatto We fixed this a while back but it was reverted or we mixed it up. It's inventory_hostname vs fqdn.

[2020-05-27 19:02] coreydeli opened #81 "Support for Ubuntu 20.04 LTS"
Looking for support for Ubuntu 20.04 LTS as we have moved to this platform for docker swarm. Current project does not support it, can downgrade if needed though we would rather utilize this version.

[2020-05-28 19:11] Bogdan1001 commented on #78
Workaround for me was: replace  `{{ ansible_fqdn|lower }}` on  `{{ ansible_hostname }} `and from the hostname remove all dots. Was `node1.connect` become `node1connect`

[2020-06-01 21:40] GSeibt commented on #78
How about `docker node inspect self --format '...'`? We don't have to figure out the name of the object to inspect that way.

[2020-06-05 05:42] jauffrey opened #82 "Swarm Node Labels broken in v2.3.0"
This commit 3bb8a49297448325b8feaa9b7a899c78b2fab97e breaks the swarm nodes label functionnality, as the docker inspect command used to get the labels actually doesn't find anything and breaks.
Reverting to v2.2.0 solves the issue.

[2020-06-05 05:48] #82 closed, assigned to nobody

[2020-06-05 05:48] jauffrey commented on #82
Duplicates https://github.com/atosatto/ansible-dockerswarm/issues/78

[2020-06-16 11:44] gumbo2k commented on #78
@till I thought the same and tried to work around by listing the hosts as fqdns in my inventory. No luck.

[2020-07-18 13:08] nununo commented on #78
Hello. I'm also having this issue. Any plans to reaply the fix? Thanks!

[2020-08-01 04:22] juanluisbaptiste commented on #57
@mikeydiamonds I'm facing this issue too, could you expand on what you did to fix it ?

[2020-08-01 19:35] juanluisbaptiste commented on #78
I can confirm that the commit [3bb8a49](https://github.com/atosatto/ansible-dockerswarm/commit/3bb8a49297448325b8feaa9b7a899c78b2fab97e) mentioned in the issue #82 is the one that breaks the labels setup, if it is reverted then the playbook finishes without issues.

[2020-08-31 22:10] joshes commented on #78
Seeing the same behaviour on `v2.3.0`, rolling back to `v2.2.0` resolves this situation.

[2020-09-18 19:49] paul42 opened #84 "Q: jmespath issues on"
Hey, first of all, thanks for making this great role! I've got it mostly working but my playbook gets to the verify last step:
[code]
I've tried the following:
1. running `pip install -r requirements.txt` after copying your requirements.txt over on my workstation (where I'm launching playbooks from), running straight `pip install jmespath==0.9.3`
2. creating a role with a single task of:
[code]
an

[2020-09-30 08:22] till commented on #78
Another case where this happens is the following:

I had botched my swarm setup, so it was not about node names (e.g. inventory name or fully qualified domain name (fqdn)), but the nodes were no longer seen by the manager.

The role doesn't handle this (no judgement meant) currently. I think it's a split brain/no brain kind of thing, because I had restarted my manager (and I run only one) and then

[2020-10-06 13:16] quadeare commented on #78
Same issue on Centos 7.

For now I am using v2.2.0 which works like a charm !

[2020-10-16 17:50] juanluisbaptiste commented on #78
Now I'm not sure if this has to do with this at all, as I have been getting this error several times too with that commit reverted. It always happens when I add a new instance to the cluster. First time I run this role is ok, then I create a new aws instance and run again this role to add it to the cluster and the role fails with this error. This is the error message I'm seeing being thrown by ans

[2020-10-16 18:04] juanluisbaptiste commented on #78
For me it also happens with v2.2.0 as described on my previous comment.

[2020-10-23 17:59] salvorusso opened #87 "Init "Swarm Mode""
Using the role on two centOS virtual machines, I receive the following error:
`TASK [atosatto.docker-swarm : Init "Swarm Mode" on the first manager.] ************************************************************************************fatal: [app1.myapp.dev]: FAILED! => {"msg": "The conditional check 'docker_info.stdout.find('Swarm: active') == -1 and inventory_hostname == groups['docker_swarm_mana

[2020-10-23 18:22] #87 closed, assigned to nobody

[2020-10-23 18:22] salvorusso commented on #87
Bad typo in Inventory

[2020-11-20 19:03] fgierlinger opened #89 "containerd installation fails on CentOS8 with "failed to validate GPG signature""
**Summary**
containerd installation fails on CENTOS8 with the message `Failed to validate GPG signature for containerd.io-1.2.6-3.3.el7.x86_64` . Changing the repository URL to containerd of CentOS7 to CentOS8 (https://github.com/atosatto/ansible-dockerswarm/blob/master/tasks/setup-containerd.yml#L26) is not successful, but yields another error

[code]
Is there any specific reason, containerd is n

[2021-01-02 21:53] fd98279 commented on #81
I installed docker swarm cluster on 20.04. Lastest galaxy version works partially:
skip_docker_py: true <- Had to disable this since python-pip package is not found in ubuntu 20.04
skip_docker_compose: true <- Did not install this, since it's no needed on the server.

[code]

[2021-03-01 09:01] edumgui commented on #84
Hi Paul,

You need to install requirements locally, like:

[code]

Enjoy!

[2021-03-17 14:11] falkheiland opened #93 "example for specifying docker-ce version"
suggest to add an example:

[code]

[code]

[2021-04-09 16:48] paul42 commented on #84
Thanks, sorry for the slow response on my end

[2021-04-09 16:48] #84 closed, assigned to nobody

[2021-04-26 17:10] sysnasri opened #94 "add support for proxy"
Please let me know if I can install this behind a proxy.

[2021-05-05 10:01] darac commented on #77
Hi @wombathuffer,
To create a pull request, you need to _Fork_ this repository (which creates your own personal copy of the repository), push your changes to a _new branch_ on _your_ fork and then, on the GitHub page for your repository, create a pull-request (which requests that @atosatto pull the changes from your repository to their repository).

Full details can be found in the GitHub document

[2021-05-16 12:45] till opened #95 "Multiple imports of the role don't work"
I am using your role currently like so:

 1. I use it it to setup the "base" system (docker, docker-py, etc.)
 2. I install docker plugins with another role
 3. I am using your role again to re-configure docker's `daemon.json`

This is a bit of a maybe oddity, but I found no other way to insure that first Docker gets installed, so I can use `docker plugin install` and only then do I reconfigure `d

[2021-05-20 17:01] juanluisbaptiste commented on #78
I had to use this role again and got an error when running it for the second time, and this time I noticed that the error was different to the one of this issue (and probably the error reported in my previous [comment](https://github.com/atosatto/ansible-dockerswarm/issues/78#issuecomment-710308303) was about this new issue and not related to this one). This time the error is on the "Remove labels

[2021-05-20 17:11] juanluisbaptiste opened #96 "Task "Remove labels from swarm node" fails when labels are configured outside this role"
Hi,

When docker labels are added to nodes of an already provisioned cluster with this role without using the `swarm_labels` variable in the inventory file, but by for example, adding them manually, the role will fail with the following error:

[code]

The issue arises because the `item` variable will be not empty containing the manually added labels, but `swarm_labels` variable will be empty, as

[2021-05-20 17:56] juanluisbaptiste commented on #78
Added issue #96 for this and fixed on PR #97, I hope it gets merged (although I do not have my hopes up that it will happen hreh).

[2021-05-20 17:57] juanluisbaptiste commented on #96
Sorry for the multiple commits, I had to do some reabsing to have this change in its own branch so it could be commited to a PR containing this single fix.

[2021-05-20 22:13] juanluisbaptiste commented on #95
Have you thought on using a different role to install docker first instead of using this one ? like for example [geerlingguy/ansible-role-docker](https://github.com/geerlingguy/ansible-role-docker). This way you can install docker first, then the plugin and lastly then run this role with `skip_engine: true ` to disable the docker engine installation.

[2021-05-20 22:14] juanluisbaptiste commented on #94
Can you be more specific ? your question can mean many things.

[2021-05-20 22:19] juanluisbaptiste commented on #93
Well I think the issue is that the version depends on the platform you are running this role, so examples for all supported versions should be added then. I think there's no need to add an example, just put the version you need according to the platform you are on like the package manager tool reports it as you put in your example.

[2021-05-20 22:26] juanluisbaptiste commented on #81
There is a PR fixing the [pip package install](https://github.com/atosatto/ansible-dockerswarm/pull/92/files) on ubuntu >= 20.04, but don't get your hopes up that it will be marged as this project seems to be abandoned.

I have a [fork if this repo](https://github.com/juanluisbaptiste/ansible-dockerswarm) which fixes this, adds support for ubuntu 20.04 and also fixes issues #78 and #96 if you want

[2021-05-21 05:50] falkheiland commented on #93
the example would / should be to show HOW the variable should be used in terms of constructing the version - not for specifying a certain version. I nedded some time to figure out how the version had to be used (and not which version), to get this to work - so this would maybe help other people too?

[2021-05-21 11:31] till commented on #95
@juanluisbaptiste thanks for commenting.

We used the _other role_ in the beginning, but it was too brittle and required way more additions. I know he's doing his best to manage a gazillion roles though, so no offence meant. :)

I really prefer using one, and I prefer to limit my exposure to random things I have to fix all around. ;)

I managed to overcome this like so:

[code]

And then I use:

[

[2021-08-25 15:02] #74 closed

[2022-02-21 16:31] amado-saladino opened #102 "python-pip not found"
https://github.com/atosatto/ansible-dockerswarm/blob/579f802ec3b97a6a57f1362fdea04006d13b4ee2/vars/Debian.yml#L4

while running this role on Ubuntu 20, it raises an error `python-pip` package not found, instead it should be `python3-pip`

Whenever I install this role, I have manually to update this package name before running my playbook

[2022-04-16 16:32] #81 closed, assigned to nobody

[2022-10-27 11:07] vinjana opened #103 "ipaddr filter was moved to ansible.utils collection"
The role does not work anymore with Ansible 2.5+ as is, because the `ipaddr` filter has been moved to `ansible.utils`.

There seems to be [a way](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html#simplifying-module-names-with-the-collections-keyword) to kind of "import" collections, but it seems that this is only possible from within roles, not from external as would be req

[2022-11-25 15:40] #51 closed